* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --900:#312e81;
    --800:#3730a3;
    --700:#4338ca;
    --600:#4f46e5;
    --500:#6366f1;
    --400:#818cf8;
    --300:#a5b4fc;
    --200:#c7d2fe;
    --100:#e0e7ff;
    --50:#eef2ff;
}

body {
    background-color: var(--900);
    color: var(--50);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.somebodyWon {
    background: lightseagreen;
}

h1 {
    font-size: 48px;
    margin-bottom: 3rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    margin-bottom: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

h2 {
    font-size: 36px;
}

h2 + p {
    font-size: 24px;
}

#board {
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.square {
    border: 2px solid var(--50);
    font-size: 48px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background: var(--500);
}

#sq1,#sq2,#sq3 {
    border-top: none ;
}

#sq7,#sq8,#sq9 {
    border-bottom: none;
}

#sq1,#sq4,#sq7 {
    border-left: none;
}

#sq3,#sq6,#sq9 {
    border-right: none;
}

.modal {
    background: rgba(199, 210, 254, 0.95);
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.modal  > p {
    font-size: 48px;
}

.options {
    display: flex;
    gap: 2rem;
}

.options > button {
    width: 4rem;
    height: 4rem;
    font-size: 36px;
    background: black;
    color: var(--50);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.options > button:hover {
    background: var(--50);
    color: black;
}

.hidden {
    display: none;
}

.activePlayer {
    color: yellow;
}